<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @screenwriter.name %>
</p>

<%= link_to 'Edit', edit_screenwriter_path(@screenwriter) %> |
<%= link_to 'Back', screenwriters_path %>
